.tarjeta {
  display: inline-flex;
  width: 300px;
  height: 300px;
  margin: .5%;

}
.tarjeta img {
  width: 150px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .6;
  transition: 1.4s ease;
}
.tarjeta img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
  
}

        

h1 {
    color: orange;
    background-color: rgb(13, 14, 15); margin-right: 850px;
    font-size: 50px;
      }
     h2 {
      color: orange;
      background-color: rgb(13, 14, 15); margin-right: 770px;
     
     }
     h3{ 
      color: whitesmoke;
      background-color: black;
      margin-top: 150px; margin-bottom: 50px; margin-right: 1350px;
     }
   
    #fondo { 
        opacity: 0.5;
    }
      
    body {
      background-color: orange;
      
        font-family: 'VT323';font-size: 22px;
        background-image: url("../img/fondo2.jpeg");
    }
    .parrafo {
      color: orange;
      background-color: rgb(13, 14, 15);
    }
      

  section {
    display: flex;
    width: 1200px;
    height: 430px;

  }
  section img {
    width: 100px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .6;
    transition: 1.4s ease;
  }
  section img:hover {
   
    width: 750px;
    opacity: 1;
    filter: contrast(120%);
    
  }